<header class="bg-main d-none d-sm-block position-relative">
    <div class="container d-flex justify-content-between d-flex align-items-center">
        <a href="/" class="text-decoration-none d-flex align-items-center">
            <img src="~img/icon-logo-light.svg" alt="Bus-Taking Logo">
            <h3 class="m-0 ms-3 h5 text-white">台灣搭公車</h3>
        </a>
        <ul class="list-unstyled d-flex align-items-center m-0">
            <li><a href="/Taiwan-Bus-Taking/" class="text-decoration-none link-white ms-3">回首頁</a></li>
            <li><a href="#" class="text-decoration-none link-white ms-3">查詢公車</a></li>
            <li><a href="#" class="text-decoration-none link-white ms-3">附近的公車站牌</a>
            </li>
            <li><a href="#" class="text-decoration-none link-white ms-3">附近的公共單車</a>
            </li>
        </ul>
    </div>
</header>